/* font */
body {
  margin: 0;
  padding: 0;
  font-family: "Libertinus Mono", monospace;

  /* bg shit */
  background-image: url("bg-tile.png");
  background-repeat: repeat;
}

/* navbar */ 
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px 12px;

  background-image: url("navtile.png");
  background-repeat: repeat;

  border-bottom: 3px solid black;
}

  /* navbar bg */
  background-image: url("navtile.png");
  background-repeat: repeat;
  background-size: auto 40px;
}

/* luh heckin icon with outline yay */
.navbar-icon img {
  height: 40px;
  width: auto;
  image-rendering: crisp-edges;

  filter:
    drop-shadow(-1px -1px 0 black)
    drop-shadow( 1px -1px 0 black)
    drop-shadow(-1px  1px 0 black)
    drop-shadow( 1px  1px 0 black);
}

/* navbar links */
.navbar-links {
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.navbar-links a {
  color: white;
  font-weight: bold;
  text-decoration: none;

  /* luh outline */
  text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

.navbar-links a:hover {
  opacity: 0.8;
}

.divider {
  color: white;
  font-weight: bold;
  text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

/* stuff */
.content-box {
  max-width: 800px;
  margin: 40px auto;
  background-color: #d8d8d8;
  color: black;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0,0,0,0.4);
  overflow: auto;
}

/* image class */
.img-right {
  float: right;
  margin: 10px;
  width: 200px;

  border-radius: 12px;

  filter:
    drop-shadow(-1px -1px 0 black)
    drop-shadow( 1px -1px 0 black)
    drop-shadow(-1px  1px 0 black)
    drop-shadow( 1px  1px 0 black);

  image-rendering: crisp-edges;
}

